:root {
    --garuda-red: #ff595e;
    --baby-blue: #d1edff;
    --sky-blue: #a9d8fa;
    --dark-blue: #87a9c5;
    --grey: #dfdfdf;
    --grey-1: #f2f5f5;
    --grey-2: #acadad;
    --pastel-yelow: #faf0ca;
    --text-dark: #233143;
    --text-primary: #838fa0;
    --text-secondary: #ffffff;
    --text-tertiary: #f4d35e;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: var(--text-primary);
    font-size: 18px;
}

nav {
    background-color: #ffffff;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 2px 6px 0 rgba(0, 0, 0, 0.04),
        0 10px 20px 0 rgba(0, 0, 0, 0.04);
}

nav li {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
}

nav #languageSelectorMobile {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: var(--text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-dark);
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
}

footer a {
    text-decoration: underline;
    color: inherit;
}

footer a:hover {
    color: inherit;
}

.regular {
    font-weight: 400;
}

.semi-bold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.x-bold {
    font-weight: 800;
}

.section-hero {
    color: var(--text-secondary);
    background-color: var(--garuda-red);
    padding-top: 125px;
    padding-bottom: 125px;
    line-height: 1.6;
}

@media screen and (min-width: 768px) {
    .section-hero {
        padding-top: 175px;
    }
}

.section-hero strong {
    font-weight: 700;
}

.section-hero h1 {
    color: var(--text-secondary);
}

.section-hero .register-mentor {
    padding-top: 15px;
    font-size: 16px;
}

.section-hero .register-mentor a {
    color: white;
    text-decoration: underline;
}

.section-hero .registration-fineprint {
    padding-top: 10px;
    font-size: 14px;
}

.section-hero .hero-img {
    display: block;
    max-width: 400px;
    width: 100%;
}

.section-hero .btn-register {
    margin-top: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 2px 6px 0 rgba(0, 0, 0, 0.04),
        0 16px 24px 0 rgba(0, 0, 0, 0.06);
    border: solid 1px var(--grey);
    color: var(--text-dark);
    background-color: white;
    padding: 15px 25px;
}

.section-sponsor {
    background-color: var(--grey-1);
    color: var(--grey-2);
    padding-top: 25px;
    padding-bottom: 25px;
}

.section-sponsor .sponsor-text {
    font-weight: 700;
    font-size: 25px;
}

.section-sponsor .main-carousel {
    padding-bottom: 25px;
}

.title-sponsor {
    width: 100%;
    margin-bottom: 15px;
}

.section-sponsor .carousel-cell {
    width: 100%;
    margin-right: 10px;
    padding: 10px;
    height: 95px;
}

.section-sponsor .carousel-cell .sponsor-img {
    display: block;
    height: 45px;
    filter: blur(5px) grayscale(100%);
    transition-duration: 0.25s;
    transition-timing-function: ease;
    max-width: 100%;
}

.section-sponsor .carousel-cell.is-selected .sponsor-img {
    display: block;
    height: 85px;
    filter: blur(0px);
    transition-duration: 0.25s;
    transition-timing-function: ease;
    max-height: 100%;
    height: auto;
}

@media screen and (min-width: 960px) {
    /* half-width cells for larger devices */
    .section-sponsor .carousel-cell {
        width: 33%;
    }
}

.section-what {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-what .subtitle {
    display: block;
    max-width: 700px;
    margin-bottom: 50px;
}

.section-what .item {
    margin-bottom: 50px;
    padding: 30px;
    height: 100%;
}

.section-what .item .item-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: var(--text-dark);
}

.section-what .item-desc {
    max-width: 450px;
    font-size: 17px;
    line-height: 1.6;
}

.section-what .item-img img {
    max-width: 100%;
}

.section-what .tools-container {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .section-what .tools-container {
        justify-content: center;
    }
}

.section-what .tool-box {
    border: solid 1px #f3f3f3;
    margin-top: 30px;
    min-height: 225px;
    min-width: 250px;
    max-height: 225px;
    max-width: 250px;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
    transition: 0.2s ease;
}

.section-what .tool-box:hover {
    transform: scale(1.02);
    transition: 0.2s ease;
}

.section-what .tool-box .tool-logo {
    width: 50px;
    height: 50px;
}

.section-what .tool-box .tool-logo img {
    max-width: 100%;
    max-height: 100px;
    height: auto;
    width: auto;
}

.section-what .tool-box .tool-name {
    font-weight: 400;
    font-size: 20px;
    color: var(--text-dark);
}

.section-what .tool-box .tool-desc {
    font-size: 17px;
    line-height: 1.6;
}

.section-what .hiring-title {
    font-family: "Montserrat";
    color: var(--text-dark);
    font-size: 20px;
    margin-top: 25px;
    font-weight: 400;
}

.section-what .hiring-container {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}

.section-what .hiring-container img {
    max-height: 5rem;
    max-width: 150px;
    margin: 1rem 0.5rem;
}

.section-what .hiring-container-blibli {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}

.section-what .hiring-container-blibli img {
    max-width: 100%;
    margin: 1rem 0.5rem;
}

@media screen and (min-width: 540px) {
    .section-what .hiring-container-blibli img {
        max-width: 350px;
        margin: 1rem 0.5rem;
    }
}

.section-what .judges-title {
    font-family: "Montserrat";
    color: var(--text-dark);
    font-size: 20px;
    margin-top: 25px;
    font-weight: 400;
}

.section-what .judges-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .section-what .judges-container {
        justify-content: center;
    }
}

.section-what .judge-box {
    text-align: center;
    border: solid 1px #f3f3f3;
    margin-top: 30px;
    min-height: 225px;
    min-width: 250px;
    max-height: 260px;
    max-width: 250px;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
    transition: 0.2s ease;
}

.section-what .judge-box:hover {
    transform: scale(1.02);
    transition: 0.2s ease;
}

.section-what .judge-box .judge-pic {
    display: flex;
    justify-content: center;
}

.section-what .judge-box .judge-pic img {
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
}

.section-what .judge-box .judge-name {
    font-weight: 400;
    font-size: 20px;
    color: var(--text-dark);
}

.section-what .judge-box .judge-desc {
    font-size: 17px;
    line-height: 1.6;
}

.section-what .judge-many {
    margin-top: 40px;
    text-align: center;
    font-weight: 400;
    font-size: 25px;
}

.section-what .mlh-coc {
    display: flex;
    justify-content: center;
    font-size: 16px;
    text-align: center;
}

.section-what .mlh-coc-text-container {
    max-width: 600px;
}

.section-what .btn-coc {
    margin-top: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 2px 6px 0 rgba(0, 0, 0, 0.04),
        0 16px 24px 0 rgba(0, 0, 0, 0.06);
    border: solid 1px var(--grey);
    background-color: white;
    padding: 15px 25px;
}
.section-track {
    color: var(--text-secondary);
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--garuda-red);
}

.section-track h1 {
    color: var(--text-secondary);
}

.section-track .col-12 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.section-track .subtitle {
    display: block;
    max-width: 700px;
    margin-bottom: 50px;
}

.section-track .item {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    max-width: 375px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(0, 0, 0, 0.04),
        0 16px 24px 0 rgba(0, 0, 0, 0.04), 0 24px 32px 0 rgba(0, 0, 0, 0.04);
    height: 100%;
}

.section-track .item .item-header {
    height: 20px;
    background-color: #f4d35e;
}

.section-track .item .item-body {
    padding: 30px;
}

.section-track .item .item-title {
    color: var(--text-dark);
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 40px;
}

.section-track .item {
    color: grey;
    font-size: 16px;
}

.section-prize {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-prize .subtitle {
    display: block;
    max-width: 700px;
    margin-bottom: 50px;
}

.section-prize .col-lg-4 {
    padding: 15px;
}

.section-prize .item {
    border: solid 1px #f3f3f3;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
    transition: 0.2s ease;
    height: 100%;
    max-width: 375px;
}

.section-prize .item:hover {
    transform: scale(1.02);
    transition: 0.2s ease;
}

.section-prize .item .item-title {
    color: var(--text-dark);
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 22px;
}

.section-prize .item .item-body {
    font-size: 14px;
}

.section-prize .prize-many {
    margin-top: 40px;
    text-align: center;
    font-weight: 400;
    font-size: 25px;
}

.section-faq {
    background-color: var(--garuda-red);
    color: var(--text-secondary);
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-faq h1 {
    color: var(--text-secondary);
}

.section-faq a {
    color: inherit;
    text-decoration: underline;
}

.section-faq .subtitle {
    display: block;
    max-width: 700px;
    margin-bottom: 50px;
}

.section-faq .card {
    margin-bottom: 25px;
    border-radius: 5px !important;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(0, 0, 0, 0.04),
        0 16px 24px 0 rgba(0, 0, 0, 0.04), 0 24px 32px 0 rgba(0, 0, 0, 0.04);
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
    color: var(--text-primary);
    cursor: pointer;
}

.section-faq .card .fa-chevron-up {
    transform: rotate(0deg);
    transition: transform 0.25s ease;
}

.section-faq .card .collapsed .fa-chevron-up {
    transform: rotate(180deg);
    transition: transform 0.25s ease;
}

.section-faq .card-header {
    background-color: #ffffff !important;
    color: var(--text-dark);
    font-weight: 400;
    padding-top: 17px;
    padding-bottom: 17px;
}

.section-faq .accordion .magic-container {
    align-content: flex-start;
}

.section-faq .accordion .card-header p {
    margin-bottom: 0px;
}

.section-sponsor-full {
    padding-top: 30px;
    padding-bottom: 120px;
    background-color: var(--pastel-yelow);
    color: var(--text-dark);
}

.section-sponsor-full h1 {
    color: var(--text-dark);
    font-size: 48px;
}

.section-sponsor-full .partner-category {
    margin-top: 6rem;
}

.section-sponsor-full .items-container {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section-sponsor-full .items-container img {
    max-height: 5rem;
    max-width: 40%;
    margin: 1rem 0.5rem;
}

.section-sponsor-full img.title {
    width: 100%;
}

.section-sponsor-full .items-container.league-partner img {
    max-height: 10rem;
    max-width: 100%;
    margin: 1rem 0.5rem;
}

.section-sponsor-full a {
    text-decoration: underline;
    color: inherit;
}

.section-sponsor-full strong {
    font-size: 25px;
}

.section-sponsor-full .sponsor-info {
    margin-top: 70px;
    text-align: center;
}

@media screen and (min-width: 960px) {
    /* half-width cells for larger devices */
    .section-sponsor-full .items-container img {
        margin: 1rem 2rem;
    }
}

footer {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--text-tertiary);
    color: #0d3b66;
}

footer h1 {
    color: #0d3b66;
}

footer img {
    max-width: 100%;
    max-height: 250px;
    display: block;
}

footer .col-lg-4 {
    display: grid;
    align-items: center;
}

footer .footer-text {
    display: grid;
    align-items: center;
}

footer .powered-img {
    padding-left: 5px;
    display: inline-block;
    height: 30px;
}
